# Visulization of phreeqc output
Reference: "2023.11.13 Library of possible graphs.pdf"

## Python Import

In [20]:
import os, sys
import matplotlib.pyplot as plt
import scienceplots
import pandas as pd

## Preprocessing

In [21]:
# test data
test_data = "data/job001_Beerling_original.out"

In [22]:
# load raw data, separator is tab
raw = pd.read_csv(test_data,sep="\t")
# remove extra spaces in column names
raw.columns = raw.columns.str.strip() 
raw

,sim,state,soln,dist_x,time,step,pH,pe,N,Na,...,dk_Ilmenite,k_Glass,dk_Glass,k_MikeSorghum,dk_MikeSorghum,SurfH_Ca,SurfH_Mg,SurfH_H,Hfo_PO4,Unnamed: 92
0,1,i_soln,0,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
1,1,i_soln,1,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
2,1,react,0,-99.000,0.0,1,7.77981,12.9020,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
3,2,i_exch,1,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN
4,3,i_surf,1,-99.000,-99.0,-99,8.10000,4.0000,0.000464,0.000180,...,0.0,0.0,0.0,0.0,0.0,0.021727,0.001211,0.077437,0.000000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,1,transp,7,0.325,157825000.0,100,7.24426,15.0329,0.000334,0.000568,...,0.0,0.0,0.0,0.0,0.0,0.009470,0.000571,0.111620,6.764500e-06,NaN
1112,1,transp,8,0.375,157825000.0,100,7.16534,15.0308,0.000329,0.000348,...,0.0,0.0,0.0,0.0,0.0,0.009377,0.000559,0.116540,1.930100e-08,NaN
1113,1,transp,9,0.425,157825000.0,100,7.10706,14.9478,0.000335,0.000270,...,0.0,0.0,0.0,0.0,0.0,0.009241,0.000553,0.120140,3.431600e-11,NaN
1114,1,transp,10,0.475,157825000.0,100,7.05164,13.7762,0.000344,0.000246,...,0.0,0.0,0.0,0.0,0.0,0.009077,0.000554,0.123580,4.370800e-14,NaN
1115,1,transp,11,0.525,157825000.0,100,8.23572,12.3537,0.000344,0.000246,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,NaN

In [23]:
# column names
column_names = raw.columns.values.tolist()
print(column_names)

['sim', 'state', 'soln', 'dist_x', 'time', 'step', 'pH', 'pe', 'N', 'Na', 'Ca', 'Mg', 'K', 'Al', 'Si', 'Fe', 'Mn', 'Sr', 'Ba', 'P', 'C(4)', 'Hfo_s', 'Hfo_w', 'm_CaX2', 'm_KX', 'm_MgX2', 'm_NaX', 'm_FeX2', 'm_MnX2', 'm_SrX2', 'm_AlX3', 'm_BaX2', 'm_Hfo_wH2PO4', 'm_Hfo_wHPO4-', 'Calcite', 'd_Calcite', 'SiO2(a)', 'd_SiO2(a)', 'Al(OH)3(a)', 'd_Al(OH)3(a)', 'Pyrolusite', 'd_Pyrolusite', 'Fe(OH)3(a)', 'd_Fe(OH)3(a)', 'O2(g)', 'd_O2(g)', 'CO2(g)', 'd_CO2(g)', 'si_Calcite', 'si_SiO2(a)', 'si_Al(OH)3(a)', 'si_Pyrolusite', 'si_Fe(OH)3(a)', 'si_O2(g)', 'si_CO2(g)', 'si_Quartz', 'si_Plagioclase', 'si_Apatite', 'si_Diopside_Mn', 'si_Diopside', 'si_Olivine', 'si_Alkali-feldspar', 'si_Montmorillonite', 'si_Ilmenite', 'si_Glass', 'si_MikeSorghum', 'k_Quartz', 'dk_Quartz', 'k_Plagioclase', 'dk_Plagioclase', 'k_Apatite', 'dk_Apatite', 'k_Diopside_Mn', 'dk_Diopside_Mn', 'k_Diopside', 'dk_Diopside', 'k_Olivine', 'dk_Olivine', 'k_Alkali-feldspar', 'dk_Alkali-feldspar', 'k_Montmorillonite', 'dk_Montmorillonite', 'k_Ilmenite', 'dk_Ilmenite', 'k_Glass', 'dk_Glass', 'k_MikeSorghum', 'dk_MikeSorghum', 'SurfH_Ca', 'SurfH_Mg', 'SurfH_H', 'Hfo_PO4', 'Unnamed: 92']

In [24]:
# add two columns: years and days, time column is in seconds
raw['days'] = raw['time'] / 86400
raw['years'] = raw['time'] / 31536000

In [25]:
# drop rows with time < 0
df = raw[raw['time'] >= 0.0]
raw = None

## Total CO2 diagram
1) Soil calcite  
Solution 1-10, average, C1-10 (mol/L_pw) * V (500000 L_pw/ha) * 44 (g/mol)/1000000 = M (tones CO2/ha)
2) Effluent calcite  
Solution 11, C11 (mol/L_pw) * V (500000/10 L_pw/ha) * 44 (g/mol)/1000000 = M (tones CO2/ha)
3) Effluent bicarbonate  
Solution 11, Sum C11 (mol/L_pw) * V (500000/10 L_pw/ha) * 44 (g/mol)/1000000 = M (tones CO2/ha)
4) Total capture CO2
Effluent bicarbonate + Effluent calcite + Soil calcite